/* Simple code that makes my life easier */

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        scroll-behavior: smooth;
}

.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000; /* Adjust the z-index value as needed */
}

.sticky + .content {
        padding-top: 60px;
}

:root {
        --gray: #141414;
        --blue: #15222E;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Customizing the header */
.navigation {
        background-color: var(--gray);
        text-align: center;
        letter-spacing: 3px;
        padding: 35px;
        .kjse {
                font-family:  'Roboto Condensed', 'Lato', Arial, sans-serif!important;
                color: white;
        }
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Customizing the EASY projects */

.calculator {
        padding-top: 65px;
        padding-bottom: 95px;
        text-align: center;
        color: white;
        background-color: var(--blue);
        .calculatorTitle {
                padding-bottom: 25px;
        }
}

.counter {
        padding-bottom: 95px;
        text-align: center;
        color: white;
        background-color: var(--blue);
        .counterTitle {
                padding-bottom: 15px;
        }
        .counterNumber {
                padding-bottom: 10px;
        }
}

.countdownclock {
        padding-bottom: 95px;
        text-align: center;
        color: white;
        background-color: var(--blue);
        .cdcTitle {
                padding-bottom: 20px;
        }
        .cdc {
                font-size: 22px;
        }
}
